language: node_js
node_js:
  - node

notifications:
  slack:
    secure: p/nJw7lqn/SHiDFg0S61D0Y41RhzKLpUH+dA6ZaIPWocvLQdo8drfYc8U/IpTZoJhbtwDTHU8zv1AScPg+q3vWZVCZ5oteBMgu6oqEzyOK0HI39OGBq90ZWl/PoeHuJKX15LpXr1PTMoxf10/eeYCwQufblGpKuWIxrj4OvM+lsI0iN6q/SukbtgGktCdiT2I/+TKlaSle5phLUMXUsLAmEi/f64wLVyhDnzX84sPVbmdNe+6PuCqifmbd+d3ICd7tmJjfNi1J/k6B03Eflg/yogz3tklA3jZl8ccFcRKGcrpgU1Fut3Cgc+lGt5lClZvve9GFpuMbyNTf0ublKf89F8b/WV8g4PkWxC4BbLGE4b7/OGMZgODGG4UxepbgclLXYfuwxTHIlnvOlGISUFkd9Nb671ePOMHqJfMbcu+dp8B+rRK4fduRUT7JT+i8LZ6UA+CYKP6jZEncMK5SRMJmyRs3mc72VQecY+kWcZ5gBf2LHs1v8a/qRdlxkF/1KT3tl+vA0No/Zdir53PeWBUN/RwUtRl8oZE3gV1yV/7vxFvVIXX3rnV1uqRSW+IlZxP4yBgUwMyEEA7vDr7XM43y68AK0ErtQ7TbLOc6Rz47Z67teL140RPGTevGo+yNdR2vD1+zq28sRhUNjc2KcEP1hCPP0EFwGjvJVBVsCN2pc=
    exclude:
      if: (fork = true)

install:
  - npm install
  - npm install -g codecov
  - npm install -g yarn

script:
  - ./scripts/bootstrap.sh
  - ./scripts/test.sh

after_script:
  - codecov
